{
  "extends": "airbnb",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "implicit-arrow-linebreak": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/prefer-default-export": 0,
    "react/react-in-jsx-scope": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}